#### ipyvizzu Playground 3 - Create Your Own ipyvizzu-story - with Sample Data Sets

#### If you download this notebook, make sure to check out how to use it in your environment: https://ipyvizzu.vizzuhq.com/mkdocs/docs/environments/index.html

In [ ]:
#!pip install ipyvizzu
#!pip install ipyvizzu-story

In [2]:
# Import components

import pandas as pd
from ipyvizzu import Chart, Data, Config, Style
from ipyvizzustory import Story, Slide, Step

In [3]:
# World Population Forecast by Country Data Set 

data_frame = pd.read_csv('https://raw.githubusercontent.com/vizzuhq/vizzu-workshops/main/2023-04-25-PyData-Seattle/data/worldpopulation.csv',
                   dtype={'Year': str})
display(data_frame)

,Region,Subregion,Country,Year,Period,Pop_Medium,Pop_High,Pop_Low
0,Africa,Eastern Africa,Burundi,1953,past,2449089,2449089,2449089
1,Africa,Eastern Africa,Comoros,1953,past,169748,169748,169748
2,Africa,Eastern Africa,Djibouti,1953,past,66273,66273,66273
3,Africa,Eastern Africa,Eritrea,1953,past,864893,864893,864893
4,Africa,Eastern Africa,Ethiopia,1953,past,19184288,19184288,19184288
...,...,...,...,...,...,...,...,...
6985,Oceania,Polynesia,Samoa,2098,future,311591,447953,204322
6986,Oceania,Polynesia,Tokelau,2098,future,1472,2144,969
6987,Oceania,Polynesia,Tonga,2098,future,139471,207034,86954
6988,Oceania,Polynesia,Tuvalu,2098,future,19979,29187,12886
6989,Oceania,Polynesia,Wallis and Futuna Islands,2098,future,5672,8653,3522

In [4]:
# Revenue by Music Format Data Set 

data_frame2 = pd.read_csv('https://raw.githubusercontent.com/vizzuhq/vizzu-workshops/main/2023-04-25-PyData-Seattle/data/music.csv',
                   dtype={'Year': str})
display(data_frame2)

     Year     Format   Revenue[$]
0    1973        DVD            0
1    1973      Other            0
2    1973       Tape   2941000000
3    1973   Download            0
4    1973  Streaming            0
..    ...        ...          ...
379  2020   Download    653000000
380  2020  Streaming  10075000000
381  2020   Cassette            0
382  2020      Vinyl    626000000
383  2020         CD    484000000

[384 rows x 3 columns]

In [6]:
# Tarantino Profane Words and Deaths by 538 Data Set 

data_frame3 = pd.read_csv('https://raw.githubusercontent.com/vizzuhq/vizzu-workshops/main/2023-04-25-PyData-Seattle/data/tarantino.csv',)
display(data_frame3)

               movie   type          word  minutes_in
0     Reservoir Dogs   word          dick        0.40
1     Reservoir Dogs   word         dicks        0.43
2     Reservoir Dogs   word        fucked        0.55
3     Reservoir Dogs   word       fucking        0.61
4     Reservoir Dogs   word      bullshit        0.61
...              ...    ...           ...         ...
1889    Jackie Brown   word  motherfucker      141.93
1890    Jackie Brown   word           ass      142.43
1891    Jackie Brown   word       fucking      142.47
1892    Jackie Brown   word       goddamn      142.97
1893    Jackie Brown  death           NaN      143.13

[1894 rows x 4 columns]

In [9]:
# Superheros and Powers Data Sets - NOT USED BEFORE
# Source: https://www.kaggle.com/datasets/claudiodavi/superhero-set

data_frame4 = pd.read_csv('https://raw.githubusercontent.com/vizzuhq/vizzu-workshops/main/2023-04-25-PyData-Seattle/data/heroes_information.csv',)
data_frame5 = pd.read_csv('https://raw.githubusercontent.com/vizzuhq/vizzu-workshops/main/2023-04-25-PyData-Seattle/data/super_hero_powers.csv',)
display(data_frame4)
display(data_frame5)

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
729,729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,-,good,52.0
730,730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
731,731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0
732,732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,-,good,57.0
733,733,Zoom,Male,red,-,Brown,185.0,DC Comics,-,bad,81.0

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Yellowjacket II,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
663,Ymir,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
664,Yoda,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
665,Zatanna,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
666,Zoom,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
# Titanic Data Set

data_frame6 = pd.read_csv('https://raw.githubusercontent.com/vizzuhq/vizzu-workshops/main/2023-04-25-PyData-Seattle/data/titanic.csv',
                         dtype={"Pclass": str})
display(data_frame6)

,Count,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,1,Died,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,10,Survived,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
2,1,2,Survived,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,Survived,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,4,Survived,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,1,887,Died,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,888,Survived,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,1,889,Died,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,890,Survived,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,1,891,Died,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Add one of the data frames to the ipyvizzu-story Data object

data = Data()
data.add_data_frame(data_frame) #data_frame2

In [ ]:
# Set the style of the charts in the story

style = Style({ 
            'plot': { 
                'marker': { 'label' :{ 
                    'position':'top',
                    'numberFormat' : 'prefixed',
                    'maxFractionDigits' : '1',
                    'numberScale':'shortScaleSymbolUS'
                }},
                     'xAxis': { 'label': { 'angle': '-45deg',  'numberScale':'shortScaleSymbolUS'}},
                     'yAxis': { 'label': { 'numberScale':'shortScaleSymbolUS'}} 
                },
                'legend' : {'width' : '15%'},
        })

In [ ]:
# Create Story object, set size

story = Story(data=data,style=style)
story.set_feature('tooltip', True)
story.set_size('100%', '400px')

In [ ]:
slide1 = Slide(
    Step(
        Config.area({ 
                'x': '',
                'y': '',
                'title': '',
            })
))

story.add_slide(slide1)

slide2 = Slide(
    Step(
        Config.stackedArea({ #stackedColumn (stackedBy), groupedColumn (groupedBy), percentageArea (stackedBy), stream (stackedBy), violin (splittedBy)
                'x': '',
                'y': '',
                'stackedBy': '',
                'title': '',
        }),
))

story.add_slide(slide2)

story.play()

In [ ]:
# Export the story as an HTML file

# story.export_to_html(filename='my-ipyvizzu-story.html')